<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My library</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="link-item"><a href="../authors/">Authors</a></li>
          <li class="link-item"><a href="../authors/new">Add Authors</a></li>
        </ul>
      </nav>
    </header>
    <%- body %>
  </body>
</html>
