<h2>Add Authors page</h2>
<form action="../authors/" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" />
  <a href="/authors">Cancel</a>
  <button type="submit">Add</button>
</form>
